.place__image {
  width: 100%;
  grid-area: image;
  object-fit: contain;
}

@media (max-width: 767px) {
  .place__image {
    width: 100vw;
    align-self: center;
  }
}

@media (max-width: 320px) {
  .place__image {
    width: 320px;
  }
}
