.cover__subtitle {
  width: 360px;
  height: 66px;
  margin: 32px 412px 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
