.lead__image {
 width: 100%;
 min-width: 928px;
 margin-top: 64px;
 object-fit: contain;
}

@media (max-width: 1024px) {
  .lead__image {
    margin: 56px 0 0;
  }
}

@media (max-width: 928px) {
  .lead__image {
    width: calc(100vw - 15px);
    min-width: 320px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin: 40px 0 0;
    width: 320px;
  }
}
