.place__link {
  width: fit-content;
  height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: solid 1px;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}
